* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;

    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.intro {
    height: 100vh;
    padding: 20px;
}

.horizontal {
    display: flex;
    align-items: center;
}

.vertical {
    justify-content: center;
}

.logo {
    width: 100px;
}

h1 {
    margin: 0;
    font-family: 'Product Sans';
    font-size: 50px;
    margin-top: 20px;
}

.scroll {
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.line-break {
    display: inline-block;
}

.about {
    text-align: center;
    word-break: keep-all;
    height: 100vh;
}

.logo-round {
    width: 75px;
}

.details {
    display: inline-block;
    width: 100%;
    background-color: black;
    border-radius: 20px 20px 0 0;
    min-height: 1000px;
    color: white;
    text-align: center;
}

.details h2 {
    font-family: "Product Sans";
    margin-top: 50px;
}

/* Font "Product Sans" */
@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}