:root {
    --theme-color: #2291FF;
    --navbar-text-color: #FFFFFF;
    --sidenav-bg-color: #111111;
    --footer-bg-color: #EEEEEE;
    --footer-text-color: #555555;
    --plain-text-color: #000000;
    --error-text-color: #FF3120;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--theme-color);
}

/* Align Items With FLEX */
.vertical {
    display: flex;
    align-items: center;
}

.horizontal {
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navigation Bar CSS */
#navbar {
    width: 100%;
    height: 50px;
    background-color: var(--theme-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 5;
}

.nav_hamburger {
    width: 80px;
    height: 40px;
    min-width: 40px;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

.bar1,
.bar2,
.bar3 {
    width: 20px;
    height: 3px;
    border-radius: 1px;
    background-color: var(--navbar-text-color);
    margin: 4px 0;
    transition: 0.4s;
}

.bar1 {
    transform-origin: right center;
}

.bar3 {
    transform-origin: right center;
}

.bar_open .bar1 {
    transform: translate(-3px, 0) rotate(-45deg);
}

.bar_open .bar2 {
    opacity: 0;
}

.bar_open .bar3 {
    transform: translate(-3px, 0) rotate(45deg);
}

.nav_home {
    font-family: 'Courgette', cursive;
    color: var(--navbar-text-color);
    text-decoration: none;
    font-size: 25px;
}

.nav_app {
    box-sizing: content-box;
    width: 80px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid var(--navbar-text-color);
    color: var(--navbar-text-color);
    text-decoration: none;
    text-align: center;
    line-height: 35px;
    font-size: 17px;
    font-family: 'Noto Sans KR', sans-serif;
    margin-right: 5px;
}

#sidenav {
    position: fixed;
    width: 0;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--sidenav-bg-color);
    padding-top: 70px;
    z-index: 2;
    transition: .5s ease;
    overflow: hidden;
}

#sidenav.side_open {
    width: 250px;
}

#sidenav a {
    display: block;
    width: 240px;
    height: 50px;
    font-size: 17px;
    margin-right: 10px;
    padding-left: 10px;
    line-height: 50px;
    text-decoration: none;
    color: white;
    border-radius: 0 25px 25px 0;
    transition: .1s;
}

#sidenav a:hover {
    background-color: #333;
}

.nav_devide {
    border: none;
    width: 250px;
    height: 15px;
    margin: 0;
}

#close_nav {
    font-size: 35px;
    position: absolute;
    top: 10px;
    left: 12px;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}

.body_wrap {
    background-color: white;
    width: 100%;
    min-height: 100%;
    margin-bottom: -200px;
}

.body {
    padding: 20px;
    padding-bottom: 200px;
}

.iforgot_popup {
    width: 400px;
    max-width: 95%;
    background-color: white;
    border: 2px solid var(--theme-color);
    border-radius: 10px;
    padding: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 50px 0;
}

.iforgot_popup h3 {
    margin: 10px 0;
    width: 100%;
    font-size: 25px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    color: black;
}

.iforgot_id_label {
    color: black;
}

.iforgot_popup .input_text {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
    padding: 5px;
    transition: .5s;
    appearance: none;
    -webkit-appearance: none;
}

.input_text.iforgot_error {
    border-color: var(--error-text-color);
    animation: .4s shake linear;
}

.iforgot_popup .input_text:focus {
    border-color: var(--theme-color);
}

.iforgot_button {
    width: 100%;
    height: 30px;
    background-color: white;
    border: 1px solid var(--theme-color);
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    outline: none;
    transition: .5s;
    color: black;
}

.iforgot_button:hover {
    background-color: var(--theme-color);
    color: white;
}

.iforgot_loader {
    margin-top: 5px;
    width: 100%;
    height: 5px;
    position: relative;
    border-radius: 2px;
    margin-top: 5px;
    overflow: hidden;
}

.iforgot_loader_bar {
    width: 100%;
    height: 5px;
    border-radius: 2px;
    position: absolute;
    background-color: var(--theme-color);
    opacity: 0;
    transition: .3s;
}

.iforgot_loader_bar.loading {
    animation: 3s loading ease-in-out infinite;
    opacity: 1;
}

.iforgot_done {
    margin: 0;
    padding: 0;
    color: #555;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}

footer {
    width: 100%;
    height: 200px;
    background-color: var(--footer-bg-color);
    padding-left: 30px;
    margin-top: -200px;
    border-bottom: 10px solid var(--theme-color);
}

.footer_logo {
    font-family: 'Courgette', cursive;
    font-size: 40px;
    color: var(--footer-text-color);
    margin: 0;
    padding: 0;
}

.footer_sosumi {
    color: var(--footer-text-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --theme-color: #1871CA;
        --footer-bg-color: #333;
        --footer-text-color: #999;
    }

    .body_wrap {
        background-color: black;
        color: white;
    }
}

/* Shake Animation for Invalid Text Input */
@keyframes shake {
    0% {
        transform: translate(0,0);
    }
    25% {
        transform: translate(15px,0);
    }
    50% {
        transform: translate(-15px,0);
    }
    75% {
        transform: translate(15px,0);
    }
    100% {
        transform: translate(0,0);
    }
}

/* Loading Animation */
@keyframes loading {
    0% {
        left: -95%;
    }
    50% {
        left: 95%;
    }
    100% {
        left: -95%;
    }
}

@media screen and (max-width: 768px) {
    .nav_app, .nav_hamburger {
        width: 60px;
    }
}